// app global css in SCSS form
.body--light {
  color: #343a40;
}

.body--dark {
  color: #f8f9fa;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
