// app global css in SCSS form
.body--light {
  color: #343a40;
}

.body--dark {
  color: #f8f9fa;
}

@media (min-width: $breakpoint-xs-max) {
  ::-webkit-scrollbar {
    height: 8px; /* Width of the scrollbar */
    width: 12px; /* Height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #c5c4c4; /* Color of the scroll thumb */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scroll track */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
  }
}
